##### C++
## Reference: https://gist.github.com/Yousha/3830712334ac30a90eb6041b932b68d7

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

##### VisualStudio
## Reference: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# VS directory
.vs/

# Build directory
out/

##### JetBrains
## Reference: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# JetBrains directory
.idea/

# CMake
cmake-build-*/

